/* Styles go here */
body {
    font-family: courier, Arial, Helvetica, sans-serif;
}

.page-header, .page-header-space {
    height: 80px;
  }
  
  .page-footer, .page-footer-space {
    height: 50px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
  }
  
.page {
    page-break-after: always;
}
  
@page {
    margin: 5mm 5mm 2mm 5mm;
    @bottom-right {
        content: counter(page) "/" counter(pages);
    }
}

@media print {
    thead {display: table-header-group;} 
    tfoot {display: table-footer-group;}

    #content h3 {
        font-size: 1.17em;
    }
    #content, #tablatotal{
        font-size: 9px;
    }
    body {margin: 0;}
}